a {
    text-decoration: none;
    color: #0078B5;
}
.breadcrumb{
	display:none;
}
.banner{
	background: url(../images/banner.jpg) center center no-repeat;
    height: 601px;
    position: relative;
}
.banner .ban_swt{
	position: absolute;
    left: 50%;
    top: 490px;
    width: 224px;
    height: 57px;
    margin-left: -87px;
    text-indent: -9999px;
}
.e-com-content{
	max-width:1200px;
	margin: 0 auto;
}
.part1-title{
	font-size: 48px;
    color: #313131;
    text-align: center;
    padding: 60px 0px;
}
.part1-title>span{
	font-size: 48px;
    color: #46cdc0;
}
.part2>.list-inline{
	margin-left:0px;
}
.part2>.list-inline>li{
	width:240px;
	border-left: 1px solid #d2d2d2;
	padding: 20px 20px 20px 40px;
	margin-left: 40px;
	text-align: center;
}
.part2>.list-inline>li:nth-child(1){
	border:none;
}
.part2>.list-inline>li>div{
	font-size: 30px;
    color: #313131;
    line-height: 50px;
}
.item-divider{
	background: #46cdc0;
    width: 42px;
    height: 1px;
    margin: 25px 0px 40px;
    display: block;
}
.part2>.list-inline>li>p>span{
	font-size: 24px;
    color: #46cdc0;
}
.part3{
	background: url(../images/zt1.jpg) center center no-repeat;
    height: 726px;
    margin-top: 120px;
}
.part3>div>.clrfix{
	clear: both;
}
.part3>.e-com-content>.part3_1{
	display: block;
    padding-left: 18px;
    width: 215px;
    height: 46px;
    line-height: 46px;
    background: url(../images/zt1.png) 170px center no-repeat #ffffff;
    color: #46cdc0;
    font-size: 18px;
    margin: 0 auto;
}
.part3>.e-com-content>div>.list-inline{
	min-height:400px;
}
.part3>.e-com-content>div>.list-inline>li{
	width: 218px;
    height: 335px;
    padding-top: 5px;
    float: left;
    margin-left: 65px;
    background: #313131;
    overflow: hidden;
}
.part3>.e-com-content>div>.list-inline>li>.pic{
	width: 208px;
    height: 248px;
    overflow: hidden;
}
.part3>.e-com-content>div>.list-inline>li>.pic>img{
	vertical-align: top;
    width: 208px;
    height: 248px;
    cursor: pointer;
}
.part3>.e-com-content>div>.list-inline>li:hover .pic img{
	transform:scale(1.2);
	-moz-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.part3>.e-com-content>div>.list-inline>li>p{
	color: #ffffff;
    font-size: 14px;
    line-height: 25px;
    padding: 20px 10px 0px;
}
.part4{
	max-width:1200px;
	margin:0 auto;
}
.part4>.list-inline{
	max-width: 1035px;
    margin: 0 auto;
}
.part4>.list-inline>li{
	width: 235px;
    height: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.part4>.list-inline>li>p{
	position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 14px;
    color: #ffffff;
}
.part4>.list-inline>li>.more{
	position:absolute;
	left:0px;
	top:150px;
	width:235px;
	height:150px;
	background:rgba(255,255,255,0.9);
	transition:all 0.5s;
}
.part4>.list-inline>li:hover .more{
	top:0px;
}
.part4>.list-inline>li>.more>a{
	display:block;
	width:125px;
	height:40px;
	text-align:center;
	line-height:40px;
	background:#46cdc0;
	color:#ffffff;
	font-size:14px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	margin:55px auto 0px;
}
.part4>.list-inline>li:nth-child(1){
	background: url(../images/zt2_1.png) 90px 20px no-repeat #2778ff;
}
.part4>.list-inline>li:nth-child(2){
	background: url(../images/zt2_2.png) 90px 20px no-repeat #f86253;
}
.part4>.list-inline>li:nth-child(3){
	background: url(../images/zt2_3.png) 90px 20px no-repeat #c19bde;
}
.part4>.list-inline>li:nth-child(4){
	background: url(../images/zt2_4.png) 90px 20px no-repeat #ff9f2e;
}
.part4>.list-inline>li:nth-child(5){
	background: url(../images/zt2_5.png) 90px 20px no-repeat #7d4ae7;
}
.part4>.list-inline>li:nth-child(6){
	background: url(../images/zt2_6.png) 90px 20px no-repeat #41e2d0;
}
.part4>.list-inline>li:nth-child(7){
	background: url(../images/zt2_7.png) 90px 20px no-repeat #f3866b;
}
.part4>.list-inline>li:nth-child(8){
	background: #32b16c;
}
.part4>.list-inline>li:nth-child(8)>a{
	display: block;
    font-size: 14px;
    color: #ffffff;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 65px auto 0px;
}
.part5{
	background: url(../images/zt3.jpg) center center no-repeat;
    height: 726px;
    overflow: hidden;
    margin-top: 120px;
}
.part5>.part1-title{
	color:#fff;
}
.part5-imgList{
	max-width:1000px;
	margin:0 auto;
}
.part5-imgList>ul>li{
	width: 217px;
    margin-left: 30px;
    padding:0px;
}
.pt5-item-sub{
	width: 217px;
    height: 332px;
    position: relative;
    overflow: hidden;
}
.pt5-item-sub>img{
	border: 0;
    vertical-align: top;
}
.pt5-ds{
	width: 217px;
    height: 247px;
    padding: 15px 10px 0px;
    position: absolute;
    left: 0;
    top: 332px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    background: rgba(35,37,63,0.8);
}
.pt5-item:hover .pt5-ds{
	top:85px;
}
.pt5-item>a{
	display: block;
    background: url(../images/zt3.png) 25px center no-repeat #46cdc0;
    padding-left: 60px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
}
.pt5-item-tc{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 5px;
}
.pt5-ds>p{
	font-size: 12px;
    color: #ffffff;
    line-height: 18px;
}
.pt5-ds>.mt10{
	 margin-top: 10px;
}
.part6{
	background: url(../images/zt5.jpg) center center no-repeat;
    height: 717px;
}
.pt6-content{
	max-width:1000px;
	margin:0 auto;
}

.pt6-content>.pt-left{
	padding-top: 100px;
    padding-left: 188px;
    width: 450px;
    float:left;
}
.pt6-content>.pt-left>li{
	background: none;
    color: #a0a0a0;
    width: 260px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 30px;
}
.pt6-content>.pt-left>li:nth-child(2){
	margin-top: 115px;
}
.pt6-content>.pt-left>.action{
	background: #46cdc0;
    color: #ffffff;
}
.pt6-content>.pt-right{
	padding-top: 145px;
    padding-left: 30px;
    width: 340px;
    float:left;
}
.pt6-content>.pt-right>.course-get{
	display:none;
}
.pt6-content>.pt-right>li>p{
	font-size: 18px;
    color: #ffffff;
    padding-bottom: 10px;
}
.pt6-content>.pt-right>.course-get>p>span{
	font-size: 18px;
    color: #46cdc0;
}
.pt6-content>.pt-right>.course-promise{
	margin-top:-45px;
}
.part7{
	background: #46cdc0;
    text-align: center;
    height: 725px;
}
.part7>.part1-title{
	color:#fff;
}
.part7>.part7-content{
	max-width:1000px;
	margin:0 auto;
}
.part8{
	background: url(../images/zt7.jpg) center center no-repeat;
    height: 542px;
    position: relative;
}
.part8>.pt8-left{
	position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -420px;
    font-size: 36px;
    color: #46cdc0;
    line-height: 60px;
}
.part8>.pt8-left>span{
	font-size: 36px;
    color: #626262;
}
.part8>.pt8-right{
	position: absolute;
    left: 50%;
    top: 100px;
    margin-left: 160px;
    border: 1px solid #d2d2d2;
    background: #ffffff;
    width: 240px;
    height: 252px;
    padding: 40px 30px;
    font-size: 18px;
    color: #626262;
}
.part8>.pt8-right>form>button{
	-webkit-appearance: none;
    background: #46cdc0;
    color: #ffffff;
    font-size: 18px;
    width: 121px;
    height: 36px;
    text-align: center;
    line-height: 26px;
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}