.nav-top{
	max-width:1200px;
	margin:0 auto;
	padding-top:25px;
	text-align: center;
}
.logo2{
	margin: 25px 0 0 32px;
}
.nav-navbar{
	max-width:1200px;
	margin:0px auto;
	margin-top:35px;
}
.nav-navbar>.list-inline{
	margin-bottom:0px;
}
.list-inline>li{
	width: 8em;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #333;
}
.list-inline>li:nth-child(2){
	margin-left: 40px;
}
.list-inline>.allcourse{
	width: 200px;
	color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background: url(../images/topnavicon1.png) no-repeat 150px center #ff4d00;
    padding-left: 15px;
    float: left;
    position: relative;
}
div.slideBox{
	width:100%;
	height:400px;
}
div.slideBox div.tips div.nums {
	right: 47.5%;
}
div.slideBox div.tips div.nums a{
	width:40px;
	height:5px;
	margin: 20px 10px 0px 0px;
}
.collecttype{
	position: absolute;
    background: rgba(0,0,0,0.6);
    z-index:1;
    left: 355px;
    width: 200px;
    color: #fff;
    padding-top:10px;
}
.collecttype>dl{
	margin-bottom: 0px;
}
.collecttype>dl>dt{
	height: 40px;
	line-height: 42px;
	padding-left:35px;
	font-size: 16px;
    font-weight: normal;
}
.collecttype dl:nth-of-type(1) dt{
	background: url(../images/topnavicon2.png) no-repeat 10px center;
}
.collecttype dl:nth-of-type(2) dt{
	background: url(../images/topnavicon3.png) no-repeat 10px center;
}
.collecttype dl:nth-of-type(3) dt{
	background: url(../images/topnavicon4.png) no-repeat 10px center;
}
.collecttype>dl>dt>a,.collecttype>dl>dd{
	background: url(../images/topnavicon5.png) no-repeat 175px center;
}
.collecttype>dl>dd:hover{
	background:rgb(0,0,0,0.2);
}
.collecttype>dl>dt>a,.collecttype>dl>dd>a{
	color:#fff;
	font-size: 14px;
    padding-left: 44px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    text-decoration-line: none;
}
.container {
    width: 1200px !important;
    padding: 0px;
}
@media (min-width: 1200px){
	.container {
	    min-width: 1200px;
	    padding: 0px;
	}
}
.commtag{
	background:#eeeeee;
	height: 40px;
    width: 100%;
    line-height: 40px;
}
.commtag>span,.wraptabone{
	float:left;
}