.nav-top{
	max-width:1200px;
	margin:0 auto;
	padding-top:25px;
	text-align: center;
}
.logo2{
	margin: 25px 0 0 32px;
}
.nav-navbar{
	max-width:1200px;
	margin:0px auto;
	margin-top:35px;
}
.nav-navbar>.list-inline{
	margin-bottom:0px;
}
.nav-navbar>.list-inline>li{
	width: 8em;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #333;
}
.nav-navbar>.list-inline>li:nth-child(2){
	margin-left: 40px;
}
.nav-navbar>.list-inline>.allcourse{
	width: 200px;
	color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background: url(../images/topnavicon1.png) no-repeat 150px center #ff4d00;
    padding-left: 15px;
    float: left;
    position: relative;
}
.collecttype{
	position: absolute;
    background: rgba(0,0,0,0.6);
    z-index:1;
    left: 347px;
    width: 200px;
    color: #fff;
    padding-top:6px;
}
.collecttype>dl{
	margin-bottom: 0px;
}
.collecttype>dl>dt{
	height: 40px;
	line-height: 42px;
	padding-left:35px;
	font-size: 16px;
    font-weight: normal;
}
.collecttype dl:nth-of-type(1) dt{
	background: url(../images/topnavicon2.png) no-repeat 10px center;
}
.collecttype dl:nth-of-type(2) dt{
	background: url(../images/topnavicon3.png) no-repeat 10px center;
}
.collecttype dl:nth-of-type(3) dt{
	background: url(../images/topnavicon4.png) no-repeat 10px center;
}
.collecttype>dl>dt>a,.collecttype>dl>dd{
	background: url(../images/topnavicon5.png) no-repeat 175px center;
}
.collecttype>dl>dd:hover{
	background:rgb(0,0,0,0.2);
}
.collecttype>dl>dt>a,.collecttype>dl>dd>a{
	color:#fff;
	font-size: 14px;
    padding-left: 44px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    text-decoration-line: none;
}
/* 图片轮播 */
.carousel-indicators li,.carousel-indicators .active{
	width:50px;
	height:7px;
	border-radius:0px;
	border:none;
	background:rgba(238,238,238, 0.4);
}
.carousel-indicators .active{
	background:#fff;
}
.container {
    width: 1200px !important;
    padding: 0px;
}
@media (min-width: 1200px){
	.container {
	    min-width: 1200px;
	    padding: 0px;
	}
}
.flag-right{
	padding-left:30px;
}
.flag-part1{
	min-height:345px;
}
.flag-part2{
	min-height:400px;
}
.flag-part3{
	min-height:500px;
}
.flag-part4{
	min-height:495px;
}
.flag-part5{
	min-height:300px;
}
.flag-part6{
	min-height:815px;
}
.flag-part7{
	min-height:225px;
}
.commtag{
	background:#eeeeee;
	height: 40px;
    width: 100%;
    line-height: 40px;
    margin:35px auto;
    padding:0px;
}
.commtag>.row{
	margin-top:35px;
}
.commtag>.row>.col-md-6{
	margin: 0 18px 35px 0;
	width: 48%;
}
.commtag>.row>.col-md-6>.list-unstyled>li{
	line-height:25px;
}
.commtag>.row>.col-md-6>.list-unstyled>li>span{
	color:#ff4d00;
}
.commtag>span,.wraptabone{
	float:left;
}
.commtag>span{
	font-size: 18px;
    padding-left: 45px;
    display: inline-block;
    margin-right: 50px;
}
.commtag-part1>span{
	background: url(../images/mainiconall.png) no-repeat 11px 10px;	
}
.commtag-part2>span{
	background: url(../images/mainiconall.png) no-repeat 11px -30px;	
}
.commtag-part3>span{
	background: url(../images/mainiconall.png) no-repeat 11px -70px;	
}
.commtag-part4>span{
	background: url(../images/mainiconall.png) no-repeat 11px -110px;	
}
.commtag-part5>span{
	background: url(../images/mainiconall.png) no-repeat 11px -150px;	
}
.commtag-part6>span{
	background: url(../images/mainiconall.png) no-repeat 11px -190px;	
}
.commtag-part7>span{
	background: url(../images/mainiconall.png) no-repeat 11px -230px;	
}
.flag-commtag>a>img{
	width: 144px;
    height: 96px;
}
.wraptabone{
	color: #333333;
    margin: 0 8px;
    display: inline-block;
}
.wraptabone>a{
	color: #333333;
}
.wraptabone>a:nth-child(1){
	color: #ff4d00;
}
#myCarousel2{
	margin-top:35px;
}
.topdesc{
	font-size:18px;
	margin-bottom:20px;
}
.topdesc>span{
	color: #32b16c;
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}
.media-body{
	font-size: 16px;
    color: #000000;
    line-height:20px;
}
.media-body>a{
	text-decoration: none;
    color: #333;
    outline: none;
}
.media-body>p{
	font-size: 14px;
    color: #626262;
    margin: 10px 0 11px;
}
.dtime{
	font-size: 12px;
	color:#959595 !important;
}
.dtime.text-right{
	float:right;
}
.course{
	width: 202px;
    margin: 0px 37.66px 25px 0px;
    height: 130px;
    float: left;
    cursor: pointer;
    position: relative;
}
.course-1{
	background: #ff9f2e;
}
.course-2{
	background: #f86253;
}
.course-3{
	background: #2778ff;
}
.course-4{
	background: #00ae93;
	margin-right:0px;
}
.course-5{
	background: #7d4ae7;
}
.course-6{
	background: #41e2d0;
}
.course-7{
	margin-right: 0px !important;
}
.course-7>.media>.media-body{
	padding:23px;
}
.course-7>.media>.media-body>span{
	display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: #000000;
}
.course-7>.media>.flag-commtag>a>img{
	width:120px;
	height:120px;
}
.col-md-3>.view_detailbg{
	transition: opacity 0.3s ease 0s;
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    opacity: 0;
}
.col-md-3>.dimg{
    display: table;
    height: 76px;
    width: 100%;
    text-align: center;
    padding: 25px 0 3px;
}
.col-md-3>p{
    color: #fff;
    padding-left: 10px;
}
.commtag-part2>.row{
	padding:0px 15px;
}
.stuView-more{
	float: right;
    margin: 0 30px 0 0;
    color: #333333;
}
#myCarousel3>.carousel-inner>.item>img{
	width: 443px;
    height: 345px;
}
#myCarousel3>.carousel-inner>.item>.carousel-caption{
	left: 0%;
	right:0%;
	bottom: -3px;
	padding-bottom:0px;
	background:rgba(0,0,0,0.2);
}
.stuView-left{
	padding-right:0px;
}
.flag-part3>.commtag-part3>.row>.stuView-right{
	margin-right: 0px;
    margin-left: 20px;
}
.stuView-imgItem{
	width:195px;margin:0 16px 10px 0;float:left;cursor:pointer;position:relative;
}
.stuView-imgItem:nth-child(3){
	float:right;
}
.stuView-imgItem:hover{
	box-shadow: 0px 2px 5px #ccc;
}
.stuView-imgItem>p{
	padding:5px;
}
.stuView-imgItem>p>span{
	display: block;
	line-height: normal;
    height: 19px;
    overflow: hidden;
}
.stuView-imgItem>a>img{
	width:100%;
}
.commtag-part4>.row{
	padding:0 15px;
}
.onlineStudy-item{
	width: 202px;
    margin: 0 37px 12px 0;
    float: left;
    cursor: pointer;
    position: relative;
    padding:0px;
    padding-bottom: 15px;
}
.onlineStudy-item:nth-child(4),.onlineStudy-item:nth-child(8){
	margin-right:0px;
}
.onlineStudy-item:hover{
	box-shadow: 0px 2px 5px #ccc;
}
.onlineStudy-item>a>img{
    width: 202px;
    height: 130px;
}
.onlineStudy-item>p{
	padding: 15px;
    height: 38px;
    line-height:15px;
}
.teList-per{
	padding:0 15px;
}
.telist>li{
	float: left;
    width: 135px;
    margin-right: 21px;
    height: 188px;
    line-height:20px;
}
.telist>li:hover .dimg{
	box-shadow: 0px 1px 5px #999;border-bottom: 1px solid #999;
}
.telist>li>a>p{
	color:#626262;
	font-size:14px;
}
.telist>li>a>p>span{
    display: block;
    font-size: 16px;
    margin: 6px 0;
    color: #000;
}
.telist>li:nth-child(2){
	margin-left:0px;
}
.telist>li:nth-child(8){
	margin-right:0px;
}
.hj-row{
	padding:0 15px;
}
#myCarousel4>.carousel-inner>.item>img{
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}
#myCarousel4>.carousel-inner>.item>img:hover{
	transform:scale(1.025,1.025);-ms-transform:scale(1.025,1.025);
}
#myCarousel4>.carousel-inner>.item>img:nth-child(1){
	left: 0px;
    top: 0px;
    width: 452px;
    height: 290px;
}
#myCarousel4>.left.carousel-control,#myCarousel4>.right.carousel-control{
	width: 42px;
    height: 67px;
    position: absolute;
    top: 40%;
    background: #555;
}
#myCarousel4>.right.carousel-control{
	right:0px;
}
.carousel-control .glyphicon-chevron-right{
	margin-right: -16px;
	margin-top: -16px;
}
.carousel-control .glyphicon-chevron-left{
	margin-left: -16px;
	margin-top: -16px;
}
#myCarousel4>.carousel-inner>.item>img:nth-child(2){
	left: 468px;
    top: 0px;
    width: 265px;
    height: 290px;
}
#myCarousel4>.carousel-inner>.item>img:nth-child(3){
	left: 748px;
    top: 0px;
    width: 225px;
    height: 140px;
}
#myCarousel4>.carousel-inner>.item>img:nth-child(4){
	left: 748px;
    bottom: 0px;
    width: 225px;
    height: 140px;
    margin-right:0px;
}
#myCarousel4>.carousel-inner>.item>img:nth-child(5){
	right: 0px;
    top: 0px;
    width: 225px;
    height: 140px;
}
#myCarousel4>.carousel-inner>.item>img:nth-child(6){
	right: 0px;
    bottom: 0px;
    width: 225px;
    height: 140px;
    margin-right:0px;
}
.solve-ques{
	padding:0 15px;
	margin-top:30px;
}
.solve-ques-item{
	width: 30%;
    padding: 20px;
    height: 360px;
    float: left;
    margin-right: 60px;
    border: 1px solid #d2d2d2;
}
.solve-ques-item:nth-child(3){
	margin-right:0px;
}
.solve-ques-item>p{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.solve-ques-list>li>a>p{
	line-height: 24px;
	margin-bottom:0px;
}
.solve-ques-item>.media>.media-body{
	vertical-align: middle;
}
.solve-ques-item>.media>.media-body>.media-heading>p>span,.solve-ques-list>li>a>p>span{
	color:#ff4d00;
}
.wrap{
	overflow: hidden;
	margin-left:0px;
	margin-right:0px;
}
.js-marquee>li{
	float: left;
    width: 148px;
    border: 1px solid #d2d2d2;
    height: 73px;
    margin-right: 25px;
}
.js-marquee>li>a>img{
	width:100%;
	height:100%;
}
.open-class-info,.jiuye-info{
	overflow: hidden;
	margin-top: 85px;
	height:400px;
}
.jiuye-info{
	margin-top:0px;
}
.open-class-info>div>.table{
	border: 1px solid #d2d2d2;
    padding: 15px 15px 30px;
    font-size: 13px;
}
.open-class-info>div>.table>tbody>tr:nth-child(1){
	font-size:14px;
}
.open-class-info>div>.table>tbody>tr>td{
	line-height:40px;
}
.open-class-info>.list-inline,.jiuye-info>.list-inline{
	border:1px solid #ff4d00;
	height:40px;
}
.open-class-info>.list-inline>li,.jiuye-info>.list-inline>li{
	padding:0px;
	height: 100%;
	line-height: 40px;
}
.fldesc{
	background:#ff4d00;
	color:#fff;
	font-size: 18px;
    text-align: center;
}
.fldesc,.floption{
	width:49%;
	padding:0px;
}
.floption>select{
	width:100%;
	border:none;
	line-height:40px;
	font-size:18px;
}
.floption>select>option{
	font-size:18px;
	width:100%;
	padding-top:5px;
}
.floption>select:focus{
	outline: none;
}
.baoming-btn>a{
    margin-left: 25px;
}
#jiuye-info-list{
	border: 1px solid #d2d2d2;
    padding: 5px 5px;
}
.jiuye-info-item1>tbody>tr>td{
	border-bottom: 1px solid #e5e5e5;
    height: 32px;
    padding:0 5px;
}
.jiuye-info-item1>tbody>tr>td:nth-child(1){
	width:20%;
}
.jiuye-info-item1>tbody>tr>td:nth-child(2){
	font-size:10px !important;
	width:60%;
}
.jiuye-info-item1>tbody>tr>td:nth-child(3){
	width:20%;
}
.solution{
	margin-top: 100px;
	border: 1px solid #d2d2d2;
	padding: 15px;
}
.solution>.toptitle{
	font-size: 18px;
}
.solution>.media{
	margin-top:0px;
}
.solution>.media>.media-top>a>img{
	display: block;
    width: 262px;
    height: 136px;
    margin: 22px auto 0;
    transition: all 0.3s ease 0s;
}
.solution>.media>.media-top>a:hover>img{
	transform: scale(1.08,1.08);
	ms-transform: scale(1.08,1.08);
}
.solution>.media>.media-body>a>p{
	width: 262px;
    margin: 14px auto 0;
    color: #626262;
    font-size: 14px;
}
.solution>.media>.media-body>a>p>span{
	display: block;
    color: #000000;
}