.nav-foot{
	background: #2d3237;
    padding: 60px 0 30px;
    color:#fff;
}
.foot-content{
	max-width:1230px;
	margin:0 auto;
	padding-bottom: 60px;
    border-bottom: 1px solid #6c7073;
}
.foot-content>.row>.col-md-5{
	border-right: 1px solid #6c7073;
}
.foot-content>.row>.col-md-7{
	padding-left:70px;
}
.foot-left>li>.list-unstyled>li{
	color:#fff;
}
.foot-weixin{
	background:#fff;
	height: 190px;
    text-align: center;
    width: 155px;
	
}
.foot-weixin>li>p{
	color:#eb6100;
}
.foot-about,.foot-help{
	width: 100px;
    margin-left: 50px;
    line-height: 35px;
}
.foot-about>li>a,.foot-help>li>a{
	color:#fff;
}
.foot-about>li>a:hover,.foot-help>li>a:hover{
	color:#eb6100;
}
.foot-about>li:nth-child(1),.foot-help>li:nth-child(1){
	font-size: 16px;
    display: block;
    margin: 35px 0 5px;
}
.foot-right{
	text-align: left;
    line-height: 32px;
}
.foot-right>li>span{
	margin: 0 10px;
}
.friendlink{
	max-width:1230px;
	margin:0 auto;
	line-height: 30px;
}
.toptitle,.friendlink>.list-inline{
	text-align: left;
}
.botdesc>a,.botdesc>a:hover{
	color:#fff;
}
.friendlink>.list-inline>li>a{
	color:#fff;
	padding-right:15px;
	border-right:1px solid #6c7073;
}